// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
$font-size-smaller: 1.4rem;
$font-size-small: 1.5rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.7rem;
$font-size-larger: 1.9rem;
$font-size-huge: 4rem;
$font-size-h1: 4.5rem;

// OTHER VARIABLES
$grid-bleed: 6rem;
$box-shadow-weak: 0 2rem 5rem rgba($color-black, .1);
$box-shadow-medium: 0 2rem 5rem rgba($color-black, .25);

// MEDIA QUERY BREAKPOINTS
$bp-largest: 75em; // 1200px.
$bp-large: 62.5em; // 1000px.
$bp-medium: 50em; // 800px.
$bp-small: 37.5em; // 600px.
$bp-smallest: 21.875em; // 350px.

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px (10/16).

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 1rem = 8px (8/16).
  }

  @media screen and (max-width: $bp-smallest) {
    font-size: 43.75%;
  }
}

body {
  color: $color-grey-dark-2;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // sidebar - bleed - content (1120px / 8 = 140px each) - bleed.
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax($grid-bleed, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax($grid-bleed, 1fr) [full-end];
  // header/realtors - features - story - homes - gallery - footer.
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

  @media screen and (max-width: $bp-large) {
    // remove one column, add one row for navbar.
    grid-template-columns: [full-start] minmax($grid-bleed, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax($grid-bleed, 1fr) [full-end];
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  }

  @media screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
